.app{
  width: 80%;
  height: 100svh;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fadeInUp 1000ms ease-in-out;
  
  
}

.filter--toggle{
  position: fixed;
  top:0;
  left: calc(100vw - 10vh);
  padding:1vh;
  margin-top:5vh;
  /* margin-right: 5vh; */
  width:2vh;
  height:2vh;
  z-index: 10;

  background-color: var(--secondary);
  content: url(./public/menu.svg);
  fill: var(--text);
  border: 1px solid var(--text);
  border-radius: 100%;
  
  display: flex;
  justify-content: center;
  flex-direction: column;

  transition: background-color 250ms ease-in;
  
}
.filter--toggle:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.filter--toggle:has(~ .filter--checkbox:checked){
  content: url(./public/x.svg);
  background-color: var(--bg);
}
.filter--toggle * {
  filter: invert(90%);
}

.filter--checkbox{
  display: none;
}

.filter--img {
  align-self: center;
  content: url(./public/menu.svg);
  filter: invert(90%);
  animation: fadeIn 6000ms ease-in-out;

  
}

.filter{
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  z-index: 5;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;

  flex-grow: 1;
  transition: 750ms;
  /* transform: rotate(-5deg); */
}

.filter:has(.filter--checkbox:checked) {
  height: 100svh;
  width: 100%;
}
.filter--window{
  width: 100%;
  height: 100%;
  align-self: center;
  opacity: 0%;

  padding:0vh;
  background-color: var(--bg);
  color: var(--text);
  accent-color: var(--text);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 800ms ease-out;
  overflow: hidden;
  filter: url(#grain);
}

.filter--checkbox:checked ~ .filter--window{
  opacity: 100%;
}

.filter--item{
  box-sizing: border-box;
  width: 50%;
  padding: 1em;
  border-radius: 0.5em;
  font-family: 'PP Neue Montreal Bold';
  background-color: var(--bg);
  font-size: 1.5em;
  text-align: center;
}
.filter-range{
  width: 100%;
  transition: 250ms;
  background: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 0;
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;    
}


.filter--apply {
  font-family: 'PP Neue Montreal Bold';
  width: 33%;
  height: 3em;
  background-color: var(--secondary);
  color: var(--text);
  /* border-radius: 0.5em; */
  padding: 0.5em;
  outline: none;
  border: 1px solid var(--text);
  border-radius: 0.5em;
  transition: 250ms ease-in-out;
  font-size: 1.5em;

  filter: drop-shadow(3px 3px var(--text));
}

.filter--apply:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.location--spacer{
  position: relative;
  width: 100%;
  height: 20%;
  flex-grow: 1;
}

.location {
  height:50%;
  width: 100%;
  margin-top: 25svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;

  flex-grow: 1;
}

.location--button {
  width: 100%;
  max-width: 50vmin;
  align-self: center;
  height: 4em;

  font-family: 'PP Neue Montreal Bold';
  padding:1em;
  padding-left: 2em;
  padding-right: 2em;
  border: 1px solid var(--text);
  border-radius: 1em;
  background-color: var(--primary);
  color: var(--text);
  font-size: 2vmin;
  text-align: center;

  place-items: center;
  animation: fadeIn 6000ms ease-in-out;
  filter: drop-shadow(0.25em 0.25em 0 var(--text));
  margin: 0.5vh;
  margin-bottom: 10svh;

  transition: transform 300ms ease-in-out, filter 300ms ease-in;
}

.location--button:hover{
  filter: drop-shadow(0.5em 0.5em var(--text));
  cursor: pointer;
  transform: scale(1.025);
}

.map {
  display: none;
}

.location--result{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 3vmin;
  font-family: 'PP Neue Montreal Bold';
  text-align: center;
}
.location--result--rating{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10em;
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location--rating--value{
  color: var(--bg);
  font-size: 0.5em;
  font-family: 'PP Neue Montreal';
}
.location--rating--star{
  width:0.5em;
  aspect-ratio: 1/1;
}

@media (orientation:portrait) {

  .filter--toggle{
    left: calc(100vw - 15%);
  }
  .location--result{
    font-size: 3em;
  }
  .location--rating--star{
    width: 0.6em;
  }
  .location--rating--value{
    font-size: 0.6em;
    
  }
  .location--button{
    height: 8em;
    font-size: 1.5em;
  }
}


.burst{
  position: absolute;
  z-index: -1;
  height: 150vmin;
  aspect-ratio: 1/1;
  bottom:0;
  left: 0;
  transform: translate(-50%, 50%);

  transition: transform 3s ease-in-out;
  animation: spinIn 90s linear infinite forwards;
}

@keyframes spinIn {
  0%{
    transform: translate(-40%, 70%) rotate(0deg);
  }
  50%{
    transform: translate(-70%, 40%) rotate(180deg);
  }
  100%{
    transform: translate(-40%, 70%) rotate(360deg);
  }
}

input[type=range] {
  height: 52px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: var(--text);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 44px;
  width: 15px;
  border-radius: 5px;
  background: var(--tertiary);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 44px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 44px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}






