:root {
  width: 100%;
  height: 100%;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'PP Neue Montreal';
  line-height: 1.5;
  font-weight: 400;

  --text : #FCF7EA;
  --bg : #2E2E2E;
  --primary : #EB524F;
  --secondary : #429D86;
  --tertiary : #613D8E;
  /* --primary : #FD6D44;
  --secondary : #C2D6F2;
  --tertiary : #FADCE4; */


  color-scheme: light dark;
  color: var(--text);
  
  background-color: var(--bg);
  /* background: radial-gradient(#ca5ff5, #00ffffd9); */
  /* background-image: url('https://i.pinimg.com/originals/de/7e/de/de7ede8ab5c498d7bc833f2f8e41372b.jpg'); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  
}
#root{
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  filter: url(#grain);
}




@font-face {
  font-family: 'PP Neue Montreal';
  src: url(./public/PPNeueMontreal-Regular.otf);
}
@font-face {
  font-family: 'PP Neue Montreal Bold';
  src: url(./public/PPNeueMontreal-Bold.otf);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100vw;
  height: 100svh;
  max-height: 100svh;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}